node_modules/
.DS_Store 
# DS_Store tracks changes
# these are folders to not ignore on git

# const public_api_key = "pk_310989fdfbd346da8c67b825a275b256"
# const private_api_key = "sk_3d2eb0ffc27c4c3bbfb0a159f4a0112d"
