* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
        background: linear-gradient(-45deg, #deed07, #edf3fced, #a8dff3, #faddf2);
        background-size: 500% 500%;
        animation: gradient 15s ease infinite;
        /* height: 100vh; */
    }

    @keyframes gradient {
        0% { background-position: 0% 50%;}

        50% { background-position: 100% 50%;}

        100% { background-position: 0% 50%; }
    }

.topnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: row; */
    margin: 50px;
    /* border: 50px; */
    background-color: rgb(243, 243, 243);
    border-radius: 25px;

}

.title span {
    letter-spacing: 10px;
    display: inline-block;
    font-size: 20px;
    animation: flip 5s infinite;
    animation-delay: calc(.4s * var(--i))
}

@keyframes flip {
    0%,80% { transform: rotateY(360deg)
    }

}

.input-search {
    /* height: 20px; */
    width: 150px;
    border-style: none;
    padding: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    outline: none;
    border-radius: 25px;
    /* transition: all .15s ease-in-out; */
    /* background-color: #ffffff; */
    /* padding-right: 20px; */
    color: rgb(7, 7, 7);
    /* position: absolute; */
    /*  */
}


.input-search::placeholder {
    color: rgb(0, 0, 0);
    font-size: 14px;
}

button {
    background-color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    border: navajowhite;
    margin-right: 15px;
    /* right: 0px; */
    /* pointer-events: painted; */
    
}

button:hover {
    outline: none;
    transform: scale(1.5)
}



.input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 1000ms 
}


.navlinks {
    display: flex;
    justify-content: space-around;
    width: 30%
}

.navlinks li{
    list-style: none;
}
.navlinks a{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;

}

.burger div{
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 5px;
}

/* .burger {
    display: none;
} */

.mid-section {
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
}

.chart {
    margin-left: 10%;
    margin-right: 10%;
    height: 500px;
    width: 600px;
}


.stock-info {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.stock-info > ul {
    /* background-color: black; */
}

